@page "/"
@implements IDisposable
<div class="main-container">
    <div class="sm-sidebar-container">
        <SideBar onPageChange="HandlePageChange">

        </SideBar>
    </div>
    <div class="sm-content-container">
        <div class="sm-header">
            <Header onDataSourceChange="HandleDataSource" AssignmentCollection="@assignmentCollection" DataSource="@dataSource">
            </Header>
        </div>
        <div class="sm-body-content">
            <Content currentPage="@currentPage" onContentDataSourceChanged="HandleDataSource" AssignmentCollection="@assignmentCollection" DataSource="@dataSource">

            </Content>
        </div>
    </div>
    <div class="footer">
        <div class="footer-container">
            <div class="footer-icon">
                <img class="footer-logo" src="SprintManagement.svg" alt="Sprint Management" />
            </div>
            <div class="footer-content">
                <div class="title">
                    <span>Want an interactive sprint management experience in your app?</span>
                    <span><strong> Try our Sprint Management showcase sample</strong> — build, connect, and customize!</span>
                </div>
                <div class="buttons">
                    <a href="https://www.syncfusion.com/downloads/blazor?tag=es-seo-blazor-demos-static-menu-trial" target="_blank" class="e-trial-btn e-btn" title="Free Trial Button" role="button"></a>
                    <a href="https://www.syncfusion.com/request-demo?tag=blazor-server-sprint-management-showcase" target="_blank" class="e-demo-btn e-btn" title="Request Demo Button">Request Demo</a>
                </div>
            </div>
        </div>
    </div>
    <div class="mobile-nav-bar">
        <MobileNavBar onPageChange="HandlePageChange">

        </MobileNavBar>
    </div>
</div>

<style>
    .sm-sidebar-container {
    width: 80px;
    background-color: #0d9488;
    position: relative;
    height: 100vh;
    }

    .sm-content-container {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    }

    .sm-header {
    background-color: white;
    margin-bottom: 10px;
    }

    .sm-body-content {
    border: 1px solid #cfd8dc;
    }

    .main-container {
    display: flex;
    height: 100vh;
    flex-direction: row;
    position: absolute;
    }

    .footer {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(90.4deg, #154db9 0.03%, #081b3f 11.56%, #081b3f 85.56%, #154db9 99.97%);
        border: 1px solid #D8DEE9;
        z-index: 10000;
        padding: 12px;
        width:100%;
    }

    .footer-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
    }

    .footer-content {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .footer-logo {
        width: 38px;
        height: 38px;
    }

    .footer-icon {
        display: flex;
        align-items:center;
        gap: 10px;
        flex: 0 0 auto;
        width: 38px;
        height: 38px;
    }

    .footer-content .title span {
        font-weight: 400;
        font-size: 16px;
        color: #e1e3e7;
    }

    @@media screen and (max-width: 1140px), screen and (max-device-width: 1140px) {
        .footer-content .title {
            display: flex;
            flex-direction: column;
            color: white;
        }
    }

    @@media screen and (max-width: 1140px), screen and (max-device-width: 1140px) {
        .footer-content .title span, .footer-content .title span .main-title {
            font-size: 12px;
        }
    }

    .footer-content .buttons {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .footer-content .e-trial-btn {
        display: flex;
        align-items: center;
        gap: 10px;
        background: #FFF30F;
        color: #0F172A;
        border: transparent;
        border-radius: 8px;
        padding: 10px 16px;
        font-weight: 700;
        font-family:sans-serif;
    }

    .footer-content .e-demo-btn {
        background-color: transparent;
        border: transparent;
        color: white;
        border-radius: 6px;
        padding: 10px 16px;
        font-weight: 500;  
    }

    .footer-content .e-trial-btn::before {
        content: 'Start Free Trial';
        font-family: sans-serif;
    }

    .footer-content .e-trial-btn::after {
        content: "\e773";
        font-family: 'e-icons';
        transform: rotate(180deg);
    }

    .footer-content .e-demo-btn:hover {
        background-color: #173D87;
    }

    @@media screen and (max-device-width: 730px) {
        .footer-content .buttons .e-demo-btn {
            display: none;
        }
        .footer-content .buttons .e-trial-btn::before {
            content: 'Free Trial';
        }

        .footer-content .buttons .e-trial-btn::after{
            display:none;
        }
    }
    @@media screen and (max-width: 900px), screen and (max-device-width: 900px) {
         .footer-content .title span:last-child {
            display: none;
        }
    }

    @@media (min-width: 800px) and (max-width: 855px) {
    .sm-sidebar-container {
    width: 65px;
    }
    }

    @@media (min-width: 700px) and (max-width: 800px) {
    .sm-sidebar-container {
    width: 50px;
    }
    }

    @@media only screen and (max-width: 700px) {
    .sm-sidebar-container {
    display: none;
    }
    }

    @@media only screen and (max-width: 700px) {
    .mobile-nav-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #0d9488;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
    }
    }

    @@media only screen and (min-width: 700px) {
    .mobile-nav-bar {
    display: none;
    }
    }
</style>

@code {

    private string? currentPage { get; set; }
    private List<SprintManagmentModel.TaskInfoModel>? dataSource { get; set; }
    private List<SprintManagmentModel.AssignmentModel>? assignmentCollection { get; set; }
    protected override void OnInitialized()
    {
        SprintManagmentModel.SprintPlans = new Dictionary<int, List<SprintManagmentModel.TaskInfoModel>>()
        {
            { 1, SprintManagmentModel.ProjectCollection1() },
            { 2, SprintManagmentModel.ProjectCollection2() },
            { 3, SprintManagmentModel.ProjectCollection3() }
        };

        SprintManagmentModel.AssignmentCollections = new Dictionary<int, List<SprintManagmentModel.AssignmentModel>>()
        {
            { 1, SprintManagmentModel.ProjectAssignmentCollection1() },
            { 2, SprintManagmentModel.ProjectAssignmentCollection2() },
            { 3, SprintManagmentModel.ProjectAssignmentCollection3() }
        };

        SprintManagmentModel.PreviousData = new Dictionary<int, List<SprintManagmentModel.TaskInfoModel>>()
        {
            { 1, SprintManagmentModel.SprintPlans[1] },
            { 2, SprintManagmentModel.SprintPlans[2] },
            { 3, SprintManagmentModel.SprintPlans[3] }
        };
        dataSource = SprintManagmentModel.SprintPlans[1];
        assignmentCollection = SprintManagmentModel.AssignmentCollections[1];
        SprintManagmentModel.ChangeValue = "Project 1";
        currentPage = "Kanban";
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("getHeight");
        }
    }
    private void HandlePageChange(string pageName)
    {
        currentPage = pageName;
    }
    private void HandleDataSource(SprintManagmentModel.SprintModel collections)
    {
        dataSource = collections.ProjectCollection;
        assignmentCollection = collections.ResourceAssignmentCollection;
    }
    public void Dispose()
    {
        dataSource = null;
        assignmentCollection = null;
        SprintManagmentModel.SprintPlans = new Dictionary<int, List<SprintManagmentModel.TaskInfoModel>>();
        SprintManagmentModel.AssignmentCollections = new Dictionary<int, List<SprintManagmentModel.AssignmentModel>>();
        SprintManagmentModel.PreviousData = new Dictionary<int, List<SprintManagmentModel.TaskInfoModel>>();
    }
}